name: My First Workflow

on: 
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout github repo
        uses: actions/checkout@v4

      - name: Read file
        run: cat README.md
