name: My First Workflow

on: push

permissions:
  contents: read

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout github repo
        uses: actions/checkout@v4

      - name: Read file
        run: cat README.md
